<!DOCTYPE html>
<html>
  <head>
    <title>Incluir cliente</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../view/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../view/images/favicon-16x16.png"
    />
    <link rel="manifest" href="../view/images/site.webmanifest" />
    <style>
      body {
        margin: 0px;
        padding: 0px;
        font-family: "Arial";
      }

      h1 {
        text-align: center;
      }

      h2 {
        text-align: center;
      }

      form {
        width: 80%;
        height: auto;
        margin: auto;
      }

      form input {
        margin-top: 20px;
      }
      @media screen and (max-width: 1024px) {
        .navbar-dropdown .is-active {
          display: block;
        }
        .navbar-dropdown:not(.is-active) {
          display: none;
        }
      }

      h1 {
        margin-top: 20px;
      }

      .box {
        width: 80%;
        margin: auto;
      }

      #conteudo {
        display: none;
      }

      .notification {
        margin-top: 20px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
    </style>
  </head>
  <body>
    <nav class="navbar is-light">
      <div class="navbar-brand">
        <a class="navbar-item" href="/bancorm">
          <img src="../view/images/favicon-32x32.png" width="32" height="32" />
        </a>
        <div
          id="burger"
          class="navbar-burger"
          data-target="navbarExampleTransparentExample"
        >
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/bancorm"> Home </a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link"> Cliente </a>
            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item" href="/bancorm/cliente/incluir">
                Incluir
              </a>
              <a class="navbar-item" href="/bancorm/cliente/atualizar">
                Atualizar
              </a>
              <a class="navbar-item" href="/bancorm/cliente/consultar">
                Consultar
              </a>
              <a class="navbar-item" href="/bancorm/cliente/listar"> Listar </a>
              <a class="navbar-item" href="/bancorm/cliente/deletar">
                Deletar
              </a>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link"> Conta corrente </a>
            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item" href="/bancorm/contacorrente/incluir">
                Incluir
              </a>
              <a class="navbar-item" href="/bancorm/contacorrente/atualizar">
                Atualizar
              </a>
              <a class="navbar-item" href="/bancorm/contacorrente/consultar">
                Consultar
              </a>
              <a class="navbar-item" href="/bancorm/contacorrente/listar">
                Listar
              </a>
              <a class="navbar-item" href="/bancorm/contacorrente/deletar">
                Deletar
              </a>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link"> Transação </a>
            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item" href="/bancorm/transacao/incluir">
                Incluir
              </a>
              <a class="navbar-item" href="/bancorm/transacao/atualizar">
                Atualizar
              </a>
              <a class="navbar-item" href="/bancorm/transacao/consultar">
                Consultar
              </a>
              <a class="navbar-item" href="/bancorm/transacao/listar">
                Listar
              </a>
              <a class="navbar-item" href="/bancorm/transacao/deletar">
                Deletar
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div id="all" class="content">
      <h1>ATUALIZAR CLIENTE</h1>
      <div class="box">
        <form id="formulario">
          <div class="field">
            <label class="label">CPF do cliente que será atualizado: </label>
            <div class="control">
              <input
                class="input"
                placeholder="Digite o CPF do cliente aqui..."
                type="number"
                name="cpf"
                id="cpf"
              />
            </div>
          </div>
          <button onclick="consultar()" class="button is-link">Salvar</button>
        </form>
      </div>
      <div id="conteudo">
        <h2>Atualizar nome</h2>
        <div class="box">
          <form id="formulario2">
            <div class="field">
              <label class="label">Novo nome do cliente: </label>
              <div class="control">
                <input
                  class="input"
                  placeholder="Digite o novo nome do cliente aqui..."
                  type="text"
                  name="nome"
                  id="nome"
                />
              </div>
            </div>
            <button onclick="atualizar(1);" class="button is-danger">
              Atualizar
            </button>
          </form>
        </div>
        <h2>Atualizar telefone</h2>
        <div class="box">
          <form id="formulario3">
            <div class="field">
              <label class="label">Novo telefone do cliente: </label>
              <div class="control">
                <input
                  class="input"
                  placeholder="Digite o novo telefone do cliente aqui..."
                  type="number"
                  name="telefone"
                  id="telefone"
                />
              </div>
            </div>
            <button class="button is-danger">Atualizar</button>
          </form>
        </div>
      </div>
    </div>
  </body>
  <script>
    var botaoBurger = document.getElementById("burger");

    botaoBurger.addEventListener("click", (e) => {
      const target = botaoBurger.dataset.target;
      const eTarget = document.getElementById(target);

      botaoBurger.classList.toggle("is-active");
      eTarget.classList.toggle("is-active");
    });

    const allDropdowns = document.querySelectorAll(".navbar-item.has-dropdown");

    allDropdowns.forEach((dropdown) => {
      dropdown.addEventListener("click", () => {
        const elemento = dropdown.querySelector(".navbar-dropdown");
        elemento.classList.toggle("is-active");
      });
    });

    var form = document.getElementById("formulario");

    form.addEventListener("submit", (e) => {
      e.preventDefault();
    });

    var form2 = document.getElementById("formulario2");

    form2.addEventListener("submit", (e) => {
      e.preventDefault();
    });

    var form3 = document.getElementById("formulario3");

    form3.addEventListener("submit", (e) => {
      e.preventDefault();
    });

    var conteudo = document.getElementById("conteudo");
    var all = document.getElementById("all");

    function consultar() {
      conteudo.style.display = "none";
      var cpf_valor = document.getElementById("cpf").value;

      let formData = new FormData();
      formData.append("cpf", cpf_valor);
      formData.append("tipoConsulta", 1);

      var init = {
        method: "POST",
        body: formData,
      };

      fetch("consultar/consultar", init).then((response) => {
        response
          .json()
          .then((data) => {
            console.log(data);
            var dataArray = data.message;

            if (dataArray.length != 0) {
              conteudo.style.display = "block";
            } else {
              all.insertAdjacentHTML(
                "afterBegin",
                "<div class='notification is-danger'> <button onclick='this.parentNode.remove()' class='delete'></button> O cliente com o CPF indicado não foi encontrado! <strong> Clique <a href='/bancorm/cliente/listar'>aqui</a> para conferir o CPF de todos os cliente.  </div>"
              );
            }
          })
          .catch((error) => {
            all.insertAdjacentHTML(
              "afterBegin",
              "<div class='notification is-danger'> <button onclick='this.parentNode.remove()' class='delete'></button> Aconteceu algum erro ao fazer a requisição.  </div>"
            );
          });
      });
    }

    function atualizar(tipoAtualizacao) {
      switch (tipoAtualizacao) {
        case 1:
          var cpf_valor = document.getElementById("cpf").value;
          var nome_valor = document.getElementById("nome").value;

          let formData = new FormData();
          formData.append("cpf", cpf_valor);
          formData.append("nome", nome_valor);
          formData.append("tipoAtualizacao", 1);

          var init = { method: "POST", body: formData };

          fetch("atualizar/atualizar", init).then((response) =>
            response.json().then((data) => {
              console.log(data);
            })
          );
        case 2:
          return;
      }
    }
  </script>
</html>
