<!DOCTYPE html>
<html>
  <head>
    <title>Listar cliente</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../view/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../view/images/favicon-16x16.png"
    />
    <link rel="manifest" href="../view/images/site.webmanifest" />
    <style>
      body {
        margin: 0px;
        padding: 0px;
        font-family: "Arial";
      }

      table {
        margin: auto;
        text-align: center;
        margin-top: 20px;
      }

      h1 {
        margin-top: 20px;
      }

      @media screen and (max-width: 1024px) {
        .navbar-dropdown .is-active {
          display: block;
        }
        .navbar-dropdown:not(.is-active) {
          display: none;
        }
      }

      .box {
        display: none;
        margin: auto;
        width: 80%;
      }

      .content {
        text-align: center;
      }

      .notification {
        margin-top: 20px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
    </style>
  </head>
  <body>
    <nav class="navbar is-light">
      <div class="navbar-brand">
        <a class="navbar-item" href="/bancorm">
          <img src="../view/images/favicon-32x32.png" width="32" height="32" />
        </a>
        <div
          id="burger"
          class="navbar-burger"
          data-target="navbarExampleTransparentExample"
        >
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/bancorm"> Home </a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link"> Cliente </a>
            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item" href="/bancorm/cliente/incluir">
                Incluir
              </a>
              <a class="navbar-item" href="/bancorm/cliente/atualizar">
                Atualizar
              </a>
              <a class="navbar-item" href="/bancorm/cliente/consultar">
                Consultar
              </a>
              <a class="navbar-item" href="/bancorm/cliente/listar"> Listar </a>
              <a class="navbar-item" href="/bancorm/cliente/deletar">
                Deletar
              </a>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link"> Conta corrente </a>
            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item" href="/bancorm/contacorrente/incluir">
                Incluir
              </a>
              <a class="navbar-item" href="/bancorm/contacorrente/atualizar">
                Atualizar
              </a>
              <a class="navbar-item" href="/bancorm/contacorrente/consultar">
                Consultar
              </a>
              <a class="navbar-item" href="/bancorm/contacorrente/listar">
                Listar
              </a>
              <a class="navbar-item" href="/bancorm/contacorrente/deletar">
                Deletar
              </a>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link"> Transação </a>
            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item" href="/bancorm/transacao/incluir">
                Incluir
              </a>
              <a class="navbar-item" href="/bancorm/transacao/atualizar">
                Atualizar
              </a>
              <a class="navbar-item" href="/bancorm/transacao/consultar">
                Consultar
              </a>
              <a class="navbar-item" href="/bancorm/transacao/listar">
                Listar
              </a>
              <a class="navbar-item" href="/bancorm/transacao/deletar">
                Deletar
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div id="all" class="content">
      <h1>Clique no botão abaixo e liste todos os clientes</h1>
      <div class="box" id="box">
        <table class="table is-bordered is-hoverable">
          <thead>
            <tr>
              <th>N°</th>
              <th>cli_cpf</th>
              <th>cli_nome</th>
              <th>cli_tel</th>
            </tr>
          </thead>
          <tbody id="tabela-colunas"></tbody>
        </table>
      </div>
      <button class="button is-link" onclick="listar()">LISTAR</button>
    </div>
    <script>
      var botaoBurger = document.getElementById("burger");

      botaoBurger.addEventListener("click", (e) => {
        const target = botaoBurger.dataset.target;
        const eTarget = document.getElementById(target);

        botaoBurger.classList.toggle("is-active");
        eTarget.classList.toggle("is-active");
      });

      const allDropdowns = document.querySelectorAll(
        ".navbar-item.has-dropdown"
      );

      allDropdowns.forEach((dropdown) => {
        dropdown.addEventListener("click", () => {
          const elemento = dropdown.querySelector(".navbar-dropdown");
          elemento.classList.toggle("is-active");
        });
      });

      var box = document.getElementById("box");
      var tabelaBody = document.getElementById("tabela-colunas");
      var contador;

      var all = document.getElementById("all");

      function listar() {
        var init = {
          method: "POST",
        };

        fetch("listar/listar", init)
          .then((response) => {
            response.json().then((data) => {
              var array = data.message;
              if (array.length != 0) {
                box.style.display = "table";
                array.forEach((element) => {
                  contador = 0;
                  contador += 1;
                  tabelaBody.innerHTML = "";
                  tabelaBody.innerHTML += `<tr>
                       <th>${contador}</th>
                       <td>${element.cli_cpf}</td>
                       <td>${element.cli_nome}</td>
                       <td>${element.cli_telefone}</td>
                       </tr>`;
                });
              } else {
                all.insertAdjacentHTML(
                  "afterBegin",
                  "<div class='notification is-danger'> <button onclick='this.parentNode.remove()' class='delete'></button> Não há clientes no sistema! <strong> Clique <a href='/bancorm/cliente/incluir'>aqui</a> para incluir clientes.  </div>"
                );
              }
            });
          })
          .catch((error) => {
            all.insertAdjacentHTML(
              "afterBegin",
              "<div class='notification is-danger'> <button onclick='this.parentNode.remove()' class='delete'></button> Aconteceu algum erro ao fazer a requisição.  </div>"
            );
          });
      }
    </script>
  </body>
</html>
